
<script>
    var app = angular.module('app', ['ngSanitize']);
</script>
  
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<div class="container;text-center">
    <h1>Liste des Fiches Enchere </h1>
  </div>
  


<div>
   
    <form  #forme="ngForm" (ngSubmit)="Recherche(forme)">
        <input style="width: 20%; float: left; margin: 0.5%;" type="text " class="form-control" placeholder="prix " name="prix" ngModel required #prix="ngModel">
        <input style="width: 20%; float: left; margin: 0.5%;" class="form-control" type="text " placeholder="motcle " name="motcle" ngModel required #motcle="ngModel">
    
        <select style="width: 20%; float: left; margin: 0.5%;" class="form-control"  name="categorie"  ngModel required #categorie="ngModel">
            <option value="" disabled selected>Categorie</option>
            <option value="{{categotie.id}}" *ngFor="let categotie of CategVR;let i = index " class="table-{{CategVR}}">{{categotie.nom}}</option>
        </select>
        <input style="width: 20%; float: left; margin: 0.5%;" class="form-control" type="datetime-local" name="datePrix" ngModel required #datePrix="ngModel" placeholder="categorieMot">
        <input style="width: 20%; float: left; margin: 0.5%;" class="form-control" value="" type="hidden" name="NCategorie" ngModel required #NCategorie="ngModel">
        <select style="width: 20%; float: left; margin: 0.5%;" class="form-control" name="status" ngModel #status="ngModel">
            <option value="" disabled selected>Status</option>
            <option value="en cours">en cours</option>
            <option value="Fin">Fin</option>
        </select>
        <p><input class="btn btn-primary" type="submit" value="Recherche"></p>
    </form> 
</div>

<div *ngIf="modal">
    <p *ngFor="let img of imageVR;let i = index">
        <img [src]="getImage(img.sary)" width="120px" heigth="90px">
    </p>
    <button (click)="close()" class="btn btn-danger">X</button>
</div>
<table class="table table-striped" border="1" >
    <tr>
        <td>prix</td>
        <td>Produit</td>
        <td>status</td>
    </tr>
    <tr *ngFor="let Fiche of FicheVR; let i = index" class="table-{{FicheVR}}">
        <td>{{Fiche.prix}}</td>
        <td>{{Fiche.nom}}</td>
        <td>{{Fiche.status}}</td>
        <td *ngIf="Fiche.status==enc"><button class="btn btn-warning" (click)="getOK(Fiche.id,Fiche.produit)">ReEncherir</button></td>
        <td>
            <button type="button" class="btn btn-primary" (click)="Voir(Fiche.id)">Voir Photo</button>
        </td>

    </tr>
    <nav>
        <ul class="pagination">
            <li class="page-item"><a (click)="Pagination(page2)" ><span aria-hidden="true" ><<</span></a></li>
            <li  *ngFor="let number of numbers" class="page-item"><a  (click)="Pagination(number)" >{{number}}</a></li>
            <li class="page-item"><a (click)="Pagination(page2)"><span aria-hidden="true">>></span></a></li>
        </ul>
    </nav>
</table>

<!-- <div style="height: 400px;">
 
        <div class="container">

            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" [src]=""></a></div>
                        <div class="col">
                            <h3 class="name">Titre : </h3>
                            <p class="description">Body : </p>
                            <p>Lieu : </p>
                            <p>DATE : </p>
                            
                            <p>Date Debut : </p>
                            <p>Date Limite :</p>
                        
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                </div>
            </div>

</div> -->

<p><button class="btn btn-primary" (click)="propre()">Votre Historique propre enchere</button></p>
 <p><button class="btn btn-primary" (click)="HistoriqueNorme()">Votre Historique enchere</button></p>

