
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<h1>Encherir</h1>
<form  #forme="ngForm" (ngSubmit)="ReEncherir(forme)">
    <p class="text-center"></p>
    <p><input  style="width: 10%;" class="form-control" type="text" placeholder="montant" name="montant" ngModel required #montant="ngModel"><br><br></p>
   <p><input type="submit" value="Encherir" class="btn btn-primary" ></p>
</form> 
<p><button class="btn btn-warning" (click)="Retour()">Retour</button></p>

